{% extends 'base.html' %}

{% block features %}
        <div class="container">
  <h1>About Us</h1>
</div>
{% endblock features %}
{% block content %}
<div class="col-lg-8 blog-page">
<h4><strong>Welcome to our site</strong></h4>
<p>
    All Food Recipes is place that you can find anything food recipes, we collected the best food recipes that you may love it!.
</p>
<p>Thank you for visiting us, don't forget to share and follow our social media! </p>

</div>

{% endblock %}