{% extends 'base.html' %}

{% block features %}
        <div class="container">
  <h1>Welcome to our Privacy Policy</h1>
</div>
{% endblock features %}
{% block content %}
<div class="col-lg-8 blog-page">
<h3><strong>Your privacy is critically important to us.</strong></h3>
All Food Recipes is located at: https://www.allfoodrecipes.net/<br/><br/>

<p>It is All Food Recipes's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="http://allfoodrecipes.net">allfoodrecipes.net</a> (hereinafter, "us", "we", or "allfoodrecipes.net"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
<p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

			<h3><strong>Website Visitors</strong></h3>
<p>Like most website operators, All Food Recipes collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. All Food Recipes's purpose in collecting non-personally identifying information is to better understand how All Food Recipes's visitors use its website. From time to time, All Food Recipes may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
<p>All Food Recipes also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on http://allfoodrecipes.net blog posts. All Food Recipes only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

			<h3><strong>Gathering of Personally-Identifying Information</strong></h3>
<p>Certain visitors to All Food Recipes's websites choose to interact with All Food Recipes in ways that require All Food Recipes to gather personally-identifying information. The amount and type of information that All Food Recipes gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at http://allfoodrecipes.net to provide a username and email address.</p>

			<h3><strong>Security</strong></h3>
<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

			<h3><strong>Advertisements</strong></h3>
<p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by All Food Recipes and does not cover the use of cookies by any advertisers.</p>


			<h3><strong>Links To External Sites</strong></h3>
<p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>



			<h3><strong>Aggregated Statistics</strong></h3>
<p>All Food Recipes may collect statistics about the behavior of visitors to its website. All Food Recipes may display this information publicly or provide it to others. However, All Food Recipes does not disclose your personally-identifying information.</p>


			<h3><strong>Cookies</strong></h3>
<p>To enrich and perfect your online experience, All Food Recipes uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. All Food Recipes uses cookies to help All Food Recipes identify and track visitors, their usage of http://allfoodrecipes.net, and their website access preferences. All Food Recipes visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using All Food Recipes's websites, with the drawback that certain features of All Food Recipes's websites may not function properly without the aid of cookies.</p>
<p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to All Food Recipes's use of cookies.</p>



			<h3><strong>Privacy Policy Changes</strong></h3>
<p>Although most changes are likely to be minor, All Food Recipes may change its Privacy Policy from time to time, and in All Food Recipes's sole discretion. All Food Recipes encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

<h3><strong>Contact Information</strong></h3>
				If you have any questions about this Privacy Policy, please contact us via <a href="mailto:All Food Recipes@gmail.com">email</a></p>
						
</div>

{% endblock %}