

.blog-page {
  background-color: #fff !important;
  padding: 15px;
  margin-bottom: 30px;
}

body {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.nav-right{
  font-size: small !important;
}
.nav-left{
  font-size: 16px !important;
}

.detail-page {
  background-color: #fff !important;
  padding: 30px;
  margin-bottom: 30px;
}

.main-content {
  padding-top: 3em;
}

@media(min-width:320px) {
  .card-columns {
    column-count: 1;
  }

  .feature {
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }

  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar > a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 25px !important;
    line-height: 35px;
  }
}

@media(min-width:360px) {
  .card-columns {
    column-count: 1;;
  }

  .feature {
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }

  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 25px !important;
    line-height: 35px;
  }
}

@media(min-width:576px) {
   
  .card-columns {
    column-count: 2;;
  }

  .feature {
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }

  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 28px !important;
    line-height: 33px;
  }

}
@media(min-width:768px) {

  .card-columns {
    column-count: 3;;
  }

  .feature {
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }

  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 30px !important;
    line-height: 35px;
  }

}
@media(min-width:992px) {
  
  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 35px !important;
    line-height: 50px;
  }
  p {
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
   }

  .card-columns {
    column-count: 4;;
  }
  
  .feature {
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  .card-body > p {
    padding-top: 8px;
    font-size: 0.8em;
  }
  
  .card-body > footer > a {
    font-size: 0.9em;
  }
  
  .card-footer.text-muted.d-flex.justify-content-between.bg-transparent.border-top-0 {
    font-size: 0.8em;
  }

  .pagination {
    margin-top: 35px;
  }
}
@media(min-width:1200px) {

  .container {
    min-width: 1300px !important;
  }
  
  .bg-purple {
    background-color: #4E3883;
  }
  
  .navbar a > strong {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 35px !important;
    line-height: 50px;
  }
  p {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
   }

  .card-columns {
    column-count: 5;;
  }
  .feature {
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  .card-body > p {
    padding-top: 8px;
    font-size: 0.8em;
  }
  
  .card-body > footer > a {
    font-size: 0.9em;
  }

  .tags {
    padding: 20px;
    font-size: 1.3em !important;
  }
  
  .card-footer.text-muted.d-flex.justify-content-between.bg-transparent.border-top-0 {
    font-size: 0.8em;
  }
  .pagination {
    margin-top: 35px;
  }

  #search-bar{
    width: 350px;
    opacity: 0.8;
  } 
}


.badge.badge-dark {
  opacity: 0.5;
}

.badge.badge-dark:hover {
  opacity: 0.8;
}

.item {
  width: 50%;
  display: block;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.card-img-overlay {
  font-size: 0.8em;
  padding: 0.6em !important;
}

.card {
  border: 0px !important;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}


