{% extends 'base.html' %}

{% block features %}
        <div class="container">
  <h1>Contact us</h1>
</div>
{% endblock features %}
{% block content %}


<div class="col-lg-8 blog-page">
{% if messages %}
<div class="alert alert-info" role="alert">
  {% for message in messages %}
  {{message|safe}}
  {% endfor %}
</div>
{% endif %}
<h5>If you have any questions don't hesitate to contact us</h5>
<div class="form-area">  
<br>

<form role="form" method="post">
    <div class="form-group">
        {% csrf_token %}
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" maxlength="70" required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" required id="id_from_email" name="from_email" placeholder="Email" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="subject" name="subject" required id="subject" placeholder="Subject" maxlength="70" required>
    </div>
    <div class="form-group">
    <textarea class="form-control" type="textarea" name="message" placeholder="Message" required id="id_message" maxlength="300" rows="7"></textarea>                
    </div>

    <button type="submit" id="submit" name="submit" class="btn btn-m btn-secondary">Submit Form</button>
</form>

</div>

{% endblock %}